*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

html, body {
    max-width: 100%; 
    overflow-x: hidden; 
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.wave-1 {
    outline: none;
    stroke: transparent;
    stroke-width: 0px;
}

img {
    user-select: none;
}

