
// navigation typography
.navigation__link {
    font-size: 2.2rem;
    font-family: var(--font-family-1);
    font-weight: normal;
    color: var(--color-white);

   
}

.navigation__link.current-page {
    font-weight: bold !important;
}


// headings

.heading-1 {
    font-size: 9.2rem;
    line-height: 97%;
    font-family: var(--font-family-1);
    font-weight: bold;
    user-select: none;

    @include respond("big-desktop") {
        font-size: 12rem;
    }

    @include respond("tab-land") {
        font-size: 8rem;
    }

    @include respond("tab-port") {
        font-size: 8rem;
    }

    @include respond("phone") {
        font-size: 5rem;
    }
  
}

.heading-2 {
    font-size: 6.8rem;
    color: white;
    font-weight: bold;
    font-family: var(--font-family-1);

    max-width: 50rem;

    @include respond("phone") {
        font-size: 4rem;
    }
}

.heading-3 {
    font-size: 5.4rem;
    color: white;
    font-weight: bold;
    font-family: var(--font-family-1);
    max-width: 50rem;

    @include respond("big-desktop") {
        max-width: 55rem;
        font-size: 6.4rem;
    }

    @include respond("tab-port") {
        font-size: 4.5rem;
        max-width: 45rem;
    }

    @include respond("phone") {
        font-size: 2.5rem;
    }
}

.heading-4 {
    font-size: 3rem;
    color: var(--colour-white);
    font-weight: bold;
    font-family: var(--font-family-1);
}


.sub-heading {
    font-size: 1.8rem;
    font-family: var(--font-family-1);
    color: white;
    max-width: 38rem;

    @include respond("big-desktop") {
        font-size: 2.2rem;
        max-width: 50rem;
    }

    @include respond("desktop") {
        font-size: 2rem;
        max-width: 45rem;
    }

    @include respond("tab-land") {
        font-size: 1.8rem;
    }

    @include respond("phone") {
        font-size: 1.8rem;
    }

    
}

