@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&family=Saira+Semi+Condensed&family=Ubuntu&display=swap');
$color-primary: #2DC0B7;
$color-primary-dark: #139B93;
$color-primary-light: #B8FFFB;
$color-primary-dark-2: #105e58;

$color-secondary: #FF9494;
$color-secondary-dark: #FF9F9F;
$color-secondary-light: #FFA7A7;

$color-white: #FFFFFF;
$color-grey: #CCCCCC;


$basic-shadow: 0 4px 4px rgba(0, 0, 0, .25);

$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Roboto Slab', serif;
$font-family-3: 'Saira Semi Condensed', sans-serif;
$font-family-4: 'Ubuntu', sans-serif;