.navigation {
    max-width: 100vw;

    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    

    &__links {
        list-style: none;
        z-index: 1;

        @include respond("tab-port") {
            position: absolute;
            display: block;

            width: 50vw;
            height: 100vw;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: transform .3s;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: var(--colour-primary-53);
            border-bottom-left-radius: .4rem;
        }

        @include respond("phone") {
            height: 100vh;
            width: 100vw;
        }
    }

    &__item {
        display: inline-block;
        margin: 0 1.5rem;

        @include respond("tab-port") {
            &:not(:first-child) {
                margin-top: 1.5rem;
            }

            &:hover, &:focus {
                background-color: var(--colour-primary-80);
            }
        }
    }

    &__link {
        text-decoration: none;

        @include respond("tab-port") {
            font-size: 2.5rem;
        }

        &.current-page {
            &:hover {
                color: white !important;
                cursor: context-menu !important;
            }
        }

        &:hover {
            color: var(--colour-primary-80);
            cursor: pointer;
        }
    }

    &__checkbox {
        display: none;
    }
    &__button {
        display: none;
    }

      // navigation for phone and tablet portrait mode
     @include respond("tab-port") {
          &__button {
            position: relative;
            display: block !important;
            width: 4rem;
            height: 4rem;
            z-index: 2;
          }
    
          &__icon {
            &, &::before, &::after {
                position: absolute;
                background-color: white;
                height: 0.5rem;
                transition: all .2s;
                border-radius: 3px;
            }

            & {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 3.8rem;
            }
            
            &::before, &::after {
                content: "";
                width: 1.9rem;
                position: absolute;
            }

            &::before {
                // background-color: var(--colour-secondary);
                top: -1.2rem;
                right: 0;
            }

            &::after {
                // background-color: var(--colour-tertiary);
                top: 1.2rem;
                left: 0;
            }
          }

          &__checkbox:checked ~ &__button &__icon {
            background-color: transparent;
          }

          &__checkbox:checked ~ &__button &__icon::before {
            top: 0;
            width: 3.8rem;
            transform: rotate(-45deg);
          }

          &__checkbox:checked ~ &__button &__icon::after {
            top: 0;
            width: 3.8rem;
            transform: rotate(45deg);
          }

          &__checkbox:checked ~ .navigation__links {
            transform: translateX(0);
          }



      
     }
     


}
