.what-i-do .card {
    padding: 4.5rem  5.5rem;
    border-top: solid 10px;
    border-color: var(--colour-primary-30);
    background-color: var(--colour-white);
    min-width: 27rem;

    @include respond("phone") {
        padding: 2.5rem 3.5rem;
    }

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    justify-self: flex-start;
    align-self: flex-start;

    &.secondary {
        border-color: var(--colour-secondary);
        justify-self: center;
    }

    &.tertiary {
        border-color: var(--colour-tertiary);
        justify-self: flex-end;
    }

    &__title {
        font-weight: bold;
        font-size: 2.2rem;
        font-family: var(--font-family-1);
        color: var(--colour-black);
        text-align: center;
        max-width: 20rem;

        @include respond("phone") {
            font-size: 1.8rem;
        }
    }

    &__text {
        margin-top: var(--margin-big);
        margin-bottom: var(--margin-normal);
        text-align: center;
        max-width: 18.5rem;

        font-size: 2rem;
        font-family: var(--font-family-1);
        color: black;
        text-align: center;

        @include respond("phone") {
            font-size: 1.6rem;
        }
    }
}
