.footer {
    background-color: var(--colour-primary-30);
    padding: 6rem var(--padding-page);
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    position: relative;
    right: var(--padding-page);

    &__wrapper {
        margin-top: var(--margin-normal);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        @include respond("phone") {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    @include respond("phone") {
        .logo {
            text-align: center;
        }

        &__contact {
            margin-bottom: var(--margin-extra-big);
        }
    }

   

    .copyright {
        margin-top: var(--margin-small);
        
        align-self: center;   
        text-align: center;

        font-weight: bold;
        color: white;
        font-size: 1.4rem;
        font-family: var(--font-family-1);
        line-height: 150%;

        @include respond("big-desktop") {
        font-size: 1.6rem;
        }

        @include respond("phone") {
            margin-top: var(--margin-extra-big);
        }

        a {
        text-decoration: none;
        color: currentColor;

            &:hover {
                opacity: .8;
                text-decoration: underline;
            }
        }
    }

    &__links {
      
    }

    .column {
        display: inline-block;

        &:not(:last-child) {
            margin-right: var(--margin-normal);
        }

        &__title {
            color: white;
            font-size: 2.2rem;
            text-decoration: underline;
            font-weight: bold;
            font-family: var(--font-family-1);

            @include respond("big-desktop") {
                font-size: 2.5rem;
            }
        }

        &__list {
            list-style: none;

            &__item {
                margin-top: .8rem;
            }
        }

        &__list__item {

            &:first-child {
                margin-top: var(--margin-small);
            }

            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include respond("phone") {
                justify-content: center;
            }

            font-family: var(--font-family-1);
            color:  #D1D1D1;
            font-size: 1.8rem;

            @include respond("big-desktop") {
                font-size: 2rem;
            }

            a {
                color: #D1D1D1;
                text-decoration: none;

                &:hover {
                    opacity: .8;
                }
            }

            object,svg {
                display: inline-block;
                max-width: 1.4rem;
                max-height: 1.4rem;
                margin-right: var(--margin-small);
            }

            p {
                display: inline-block;
            }
        }
    } 
}