.form {

    @include respond("phone") {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        font-size: 4rem;
        font-weight: bold;
        font-family: var(--font-family-1);
        margin-bottom: var(--margin-big);
        color: var(--colour-white);

        @include respond("big-desktop") {
            font-size: 6rem;
        }

        @include respond("tab-land") {
            font-size: 4rem;
        }

        @include respond("phone") {
            font-size: 3rem;
            text-align: center;
        }
    }

    &__groups {
        list-style: none;
    }

    &__group {
        position: relative;

        &:not(:last-child) {
            margin-bottom: var(--margin-big);
        }
    }

    &__label {
        font-size: 1.7rem;
        font-weight: bold;
        color: var(--colour-white);
        font-family: var(--font-family-1);
        opacity: .8;

        position: absolute;
        top: 0;
        left: 0;

        transform: translateY(-2.5rem);
        transition: all .3s;

        @include respond("phone") {
            font-size: 1.4rem;
        }
    }

    &__input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: .4rem solid var(--colour-primary-70);
        resize: none;

        font-size: 2rem;
        padding-bottom: .8rem;
   
        color: var(--colour-white);
        font-family: var(--font-family-1);

        min-width: 35rem;
        @include respond("big-desktop") {
            font-size: 2.2rem;
        }
    
        @include respond("tab-land") {
            font-size: 1.8rem;
        }

        @include respond("phone") {
            min-width: 90vw;
        }

        transition: all .3s ease-in-out;

        

        &:hover {
            border-color: var(--colour-primary-65);
        }

        &:focus {
            border-color: var(--colour-primary-80);
        }

       

        &::-webkit-input-placeholder {
            font-family: inherit;
            color: currentColor;
        }
    }



    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
    }

    &__input:placeholder-shown ~ &__label {
        display: block;
        transform: translateY(0);
    }
}