.section-contact {
    padding-top: 5rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .section-title {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    &__content {
        background-color: $color-white;
        box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.25);
        height: 95rem;
        width: 100%;
        min-width: 30rem;
        max-width: 150rem;
        margin-top: 10rem;
        

        @include respond(tab-land) {
           width: 100%;
           height: 90%;
           margin-top: 5rem;
        }
        @include respond(tab-port) {
            width: 100%;
            height: 60rem !important;
            margin-top: 5rem;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        

        & > * {
            width: 50%;
            height: 95rem;
        }
    }

    &__image-box {
        background-image: url("../../public/images/contact.png");
        max-width: 60rem;
        height: 100%;
        position: relative;
        background-position: left center;
        background-repeat: no-repeat;
        
        @include respond(tab-port) {
            z-index: 0;
        }
        @include respond(phone) {
            display: none;
        }
    }

    &__image {
        position: relative;
        left: -1px;
        height: 100%;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;

    
        &__group:not(:last-child) {
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            background-image: linear-gradient(to right bottom, rgba($color-white, 1) , rgba($color-white, .75)), url("../../public/images/contact.png");
            width: 100%;
        }
      

        &__title {
            font-size: 5rem;
            font-family: $font-family-3;
            font-weight: bold;
            color: $color-primary-dark;
            margin-bottom: 5rem;
        }

       &__groups {
         list-style: none;
       }

       &__group {
           .submit-button {
               display: flex;
               align-items: center;
               justify-content: center;
               margin-top: 5rem;
               
               &__button {
                   padding: 1.5rem 7rem !important;
               }
           }
       }

       &__label {
        font-family: $font-family-1;
        color: $color-primary-dark;
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transform: translateX(-1.5rem) translateY(-10rem);

        @include respond(tab-port) {
            transform: translateX(-1.5rem) translateY(-8rem);
        }

        transition: all .3s;
    }

         .form__input:placeholder-shown + .form__label {
            opacity: 0;
            visibility: invisible;
            transform: translateX(-1.5rem) translateY(-5rem);
        }

       &__input {
           font-size: 1.6rem;
           font-family: $font-family-2;

           width: 37rem;
           height: 7rem;

           min-width: 37rem;
           max-width: 37rem;
           min-height: 5rem;
           max-height: 38rem;

           @include respond(tab-port) {
               width: 30rem;
               height: 5rem;

               min-height: 5rem;
               min-width: 30rem;
               max-width: 30rem;
               max-height: 30rem;
           }

           outline: none;
           padding: 1rem;
           border: none;
           border-bottom: 5px solid $color-primary;
           box-shadow: 0 1rem 2rem rgba(black, .1);
           transition: border-bottom .2s ease-in;

           &:focus {
               outline: none;
               border-bottom: 5px solid $color-primary-dark;
           }

           &:focus:invalid {
            border-bottom: 5px solid $color-secondary;
           }

           &::-webkit-input-placeholder {
            font-family: $font-family-1;
            color: $color-grey;
        }     
       }

       &__input:placeholder-shown ~ &__label {
        display: block;
    }
    }
}

.section-message {
    min-height: 90vh;
    padding: 15rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-size: 5rem;
    font-family: $font-family-1;
    font-weight: bold;
    text-align: center;
    line-height: 150%;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 3rem;
    }

    &__succes-message {
        color: $color-primary-dark;
    }

    &__succes-icon {
        padding: 1rem;
        color: $color-white;
        background-color: $color-primary;
        border-radius: 50%;
    }

    &__text-box {
        margin-bottom: 4rem;
    }

    &__button {
        font-size: 1.6rem;
        font-weight: bold;
       
        background-color: $button-color;
        color: $text-color;
        
        cursor: pointer;
        border: none;
        padding: 1.5rem 3rem;
        @include respond(tab-port) {
            padding: 1rem 2rem;
        }
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(black, .2);

        & {
            background-image: linear-gradient(90deg, transparent 0%, transparent 50%, rgba($color-white, .25) 50%);
            background-size: 220%;
        }

        &:link, &:visited, a {
            text-decoration: none;
        }
    }
}