.hero-section {
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.62) 15.47%, rgba(0, 0, 0, 0) 100%), url("../../public/images/hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    min-height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    .wave-1 {
        position: absolute;
        width: 100%;
        
        bottom: -5rem;
        @include respond(tab-port) {
            bottom: -3rem;
        }
        @include respond(phone) {
            bottom: -1rem;
        }
    }

    .centered-box {
        position: relative;
        top: -10rem;

        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        text-align: center;

        @include respond(tab-land) {
            top: -5rem;
        }
    }

    &__button-box {
        margin-top: 8rem;
        min-width: 35rem;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__text {
        color: $color-grey;
        line-height: 1.5;

        font-size: 3rem;
        font-family: $font-family-2;
        font-weight: 400;

        @include respond(phone) {
            font-size: 2rem;
        }

        a {
            color: $color-secondary-light;
            text-decoration: none;
            transition: color .3s;

            &:hover {
                color: $color-secondary-dark;

            }
        }
    }

    &__title {
        font-family: $font-family-1;
        font-weight: bolder;
        font-size: 7rem;
        color: $color-white;

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    margin-bottom: 10rem;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    
        @include respond(tab-port) {
            padding: 0 3rem;
        }

        @include respond(phone) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

    &__text {
        max-width: 52rem;

        margin-left: 5rem;
        @include respond(tab-land) {
            margin-left: 3rem;
            max-width: 45rem;
            font-size: 1.4rem;
        }
        @include respond(tab-port) {
            max-width: 30rem;
            font-size: 1.4rem;
        }
        @include respond(phone) {
            margin-left: 0;
            margin-top: 5rem;
        }

        font-family: $font-family-1;
        font-size: 1.6rem;

        line-height: 150%;
    }

    &__image {
        max-height: 43rem;
        max-width: 64rem;
       @include respond(tab-land) {
        max-height: 30rem;
        max-width: 45rem;
       }

       @include respond(tab-port) {
           max-height: 21rem;
           max-width: 32rem;
       }

       
        border-radius: 6rem;

        position: relative;
        left: -10rem;
        @include respond(tab-land) {
            left: 0;
        }
    }
   
    margin-bottom: 20rem;
    transform: translateY(-20rem);

    @include respond(tab-port) {
        margin-bottom: 5rem;
        transform: translateY(-5rem);
    }
}

.skills-section {
    background: rgba(45, 192, 183, 0.29);
    padding: 10rem 0;
    @include respond(tab-land) {
        padding: 8rem 0;
    }
    @include respond(tab-port) {
        padding: 5rem 0;
    }

    .section-title {
        margin-top: 8rem !important;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
            flex-direction: column;
        }

        .card {

            &:after, &:visited {
                transform: translateY(0) scale(1) !important;
            }
        
            &:hover,&:active {
                transform: translateY(-1.5rem) scale(1.03) !important;
            }

            background-color: $color-white;
            box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.25);
            border: 3px;
            width: 40rem;
            min-height: 50rem;
            padding: 3rem;
            margin: 5rem;

            @include respond(tab-land) {
                padding: 1rem;
                margin: 2rem;
                width: 30rem;
                max-height: 30rem;
            }

            @include respond(phone) {
                width: 25rem;
            }



            &__title {
                font-size: 3rem;
                font-family: $font-family-1;
                font-weight: bold;
                color: $color-primary;
                text-align: center;
                margin-bottom: 8rem;
            }
    
            &__content {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: space-between;

    
                .skill-icon {
                    max-height: 9rem;
                    max-width: 9rem;
                    margin: 1rem;

                    @include respond(tab-land) {
                        max-height: 7rem;
                        max-width: 7rem;
                        margin: 0.5rem;
                    }
                }
            }
        }
    }
   
}

.cta-section {
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        margin-top: 20rem;

        @include respond(tab-port) {
            margin-top: 10rem;
        }

        @include respond(phone) {
            flex-direction: column;
        }
    }

  &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin-left: 20rem;
      @include respond(tab-land) {
          margin-left: 3rem;
      }
      @include respond(phone) {
          margin-top: 5rem;
      }

      & > * {
          min-width: 35rem;
          min-height: 5rem;
          margin-bottom: 2.5rem;
          font-size: 1.8rem;
          text-align: center;
         
          font-weight: medium;

          padding: 2rem;
          @include respond(tab-port) {
            min-width: 30rem;
            min-height: 5rem;
          }

          @include respond(phone) {
            min-width: 25rem;
            min-height: 5rem;
            padding: 1rem;
          }
      }
  }

  margin-bottom: 10rem;

}

// Home page extra classes

.section-title {
    font-family: $font-family-4;
    font-weight: bold;
    font-size: 7rem;
    color: $color-primary-dark;
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 10rem;

    &:after, &:visited {
        transform: translateY(0) scale(1) !important;
    }

    &:hover,&:active {
        transform: translateY(-1.5rem) scale(1.03) !important;
    }

    @include respond(tab-land) {
        font-size: 5.5rem;
    }
    @include respond(tab-port) {
        font-size: 3.5rem;
        margin-top: 10rem;
    }
}

.green-text {
    color: $color-primary !important;
}

.green-title {
    color: $color-primary;
    font-weight: bold !important;
    font-size: 7.5rem;

    @include respond(phone) {
        font-size: 4.5rem;
    }
}

