.navigation {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &.fixed {
        position: fixed;
        background-color: $color-primary-dark-2;
        box-shadow: $basic-shadow;
        height: 7rem;
        transition: all 0.5s;
    }

    &__logo-box {
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            height: 10rem;
            width: 10rem;
        }
    }

    &__list {
        list-style: none;

        @include respond(phone) {
            transform: translateX(-2rem);
        }
    }

    &__item {
        display: inline-block;
        margin: 0 1rem;
    }

    &__link {
          color: $color-white;
          font-family: $font-family-3;
          font-size: 1.8rem;
          text-decoration: none;
          transition: color .3s;

          &:hover {
              color: $color-secondary;
          }

          @include respond(phone) {
              font-size: 1.4rem;
          }
    }
}